
body{
    background-image: url("../images/vectorbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ccc;
}

.body2{
    background: #fcfcfc;
}

#login .card-login{
    background: rgba(0,0,0,0.15);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    text-align: center;
}

#login .card-login input[type="email"], input[type="password"]{
    width: 80%;
    margin: auto;
}

#login .card-header{
    background-color: #191919;
    font-weight: bold;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#login .card-body form label{
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

#login .card-body form .form-text{
    font-weight: bold;
    color: #000;
}

#login .card-body form .logbtn{
    margin: auto;
    border: 0;
    transition: 0.4s all ease;
    font-weight: bold;
}

#login .card-body form .logbtn:hover{
    background-color: #fff;
    color: #000;
}


#login .logcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* START NAV-BAR AND HEADER */
header{
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    background: linear-gradient(90deg, #b2a8a8, #cad1d7 25%, #ffffff);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

#navbar img{
    width: 50px;
    height: 50px;
}

#navbar .navbar-brand span{
    border: 3px solid #5590f0;
    color: #000;
    font-weight: bold;
}

#navbar a{
    color: #000;
}

#navbar a:hover{
    color: #5590f0;
}

#navbar .logout:hover{
    color: red;
}
/* END NAV-BAR AND HEADER */


/* START adoptar CARDS */
#adoptar .menu-title{
    color: #000;
}

#adoptar hr{
    color: #000;
}

#adoptar .card{
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
    transition: 0.2s ease;
}

#adoptar .card:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

#adoptar .card span{
    border: none;
}

#adoptar .card-body p{
    text-align: justify;
}

#adoptar .card-body button{
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    padding: 10px 45px;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #191919;
    color: #fff;
    transition: 0.5s all ease;
}

#adoptar .card-body .btnadd button:hover{
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}


/* END adoptar CARDS */

/*start admin table*/
#tableAdmin .report{
    font-weight: bold;
    font-size: 20px;
}
/*end admin table*/

.form {
    width: 450px;
}
.modal-adopt{
    background-color: aliceblue;
}
.modal-Menu{
background-color: #fff;
align-items: center;
display: flex;
padding: 80px;
border:aqua;
justify-content: center;
margin-top: 80px;

}

.card{
    background-color: #191919;
    font-size: 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
}
.card:hover{
    border: 2px solid #000;
    box-shadow: 0 0 20px #000;
}

.card img{
    border-radius: 10px;
}

.modal-body h4{
    font-weight: bold;
}

#carrito tbody img{
    width: 40px;
    height: 40px;
}

.menu-title{
text-align: center;

}

/* START FOOTER */
#footer {
    background: linear-gradient(90deg, #b2a8a8, #cad1d7 25%, #ffffff);
}

#footer a, h6 {
    text-decoration: none;
    color: #000;
}

#footer h6 i{
    font-size: 20px;
}

#footer a{
    color: #000;
}

#footer a:hover{
    color: #5590f0;
}
/* END FOOTER */