<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <div id="app" v-if="newArrUsers[pos].token === true">
            <header>
                <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container">
                        <a class="navbar-brand" href="index.html">
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="app.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="app.html">cerrar sesion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="app.html">Inicio</a>
                                </li>                           
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <section class="cards-menu">
        <div class="row">
            <div class="col-md-5 col-lg-5 mt-3 mb-4">
                <div class="card" data-bs-toggle="modal" data-bs-target="#adopcion1-table">
                    <img src="/Pets/images/adoptar1.jpg" class="card-img-top" alt="hb4">
                    <div class="card-body">
                        <h5 class="card-title text-center">Adoptar</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-5 mt-3 mb-4">
                <div class="card" data-bs-toggle="modal" data-bs-target="#adopcion2-table">
                    <img src="/Pets/images/adopcion2.jpg" class="card-img-top" alt="hb4">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dar En Adopcion</h5>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- FOOTER -->
        <footer id="footer" class="pb-4 pt-4">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12 col-lg col-md">
                        <a href="#">Preguntas Frecuentes</a>
                    </div>
                    <div class="col-12 col-lg col-md">
                        <a href="#">Contáctanos</a>
                    </div>
                    <div class="col-12 col-lg col-md">
                        <a href="#">Novedades</a>
                    </div>
                    <div class="col-12 col-lg col-md">
                        <a href="#">Privacidad</a>
                    </div>
                    <div class="col-12 col-lg col-md">
                        <a href="#">Productos</a>
                    </div>
                    <div class="col-12 col-lg col-md">
                        <h6 class="text-center mt-2 mb-2">
                            Siguenos: 
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                        </h6>
                    </div>
                </div>
                <h6 class="text-center mt-4">© Copyright - All rights reserved</h6>
                <h6 class="text-center mt-4">Pets</h6>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
    <script src="../js/vue.js"></script>
    <script src="..js/sweetalert2.all.min.js"></script>
    <script src="../js/main.js"></script>
</html>